html {
    scroll-behavior: smooth;
}

body {
    font-family: $main-font;
    font-weight: 400;
    color: $color-light-xl;
}

body.lock {
    overflow: hidden;
}

.main-opportunity {
    background-color: $color-dark-xl;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;


    @include media-big-laptop {
        padding: 0px 40px;
    }

    @include media-mobile {
        padding: 0px 20px;
    }
}

.opportunity-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    padding-top: 185px;
    padding-bottom: 140px;

    @include media-laptop {
        flex-direction: column;
    }

    @include media-mobile {
        padding-top: 100px;
        padding-bottom: 0;
        text-align: center;
    }

    @include media-mobilesmall {
        padding-top: 80px;
    }
}

.opportunity-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 57%;
    width: 100%;
    margin-bottom: 82px;
    color: $color-light-xl;

    @include media-mobile {
        align-items: center;
    }

    @include media-mobilesmall {
        margin-bottom: 60px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 331px;
        height: 66px;
        margin-top: 60px;
        font-size: 1.2em;
        text-decoration: none;
        color: $color-dark-m;
        background: linear-gradient(30deg, $color-green-l, $color-green-s);
        border: $color-green-s;
        border-radius: 20px;
        box-shadow: 0 0 5px 3px rgba(203, 246, 46, 0.5);
        transition: all 0.4s ease-in-out;

        &:hover {
            box-shadow: 0 0 7px 7px rgba(203, 246, 46, 0.5);
        }

        &:active {
            box-shadow: 0 0 5px 3px rgba(203, 246, 46, 0.5),
                inset 0 5px 5px 0px rgba(29, 216, 68, 0.5);
        }


        @include media-mobile {
            margin-top: 30px;
            width: 277px;
            height: 51px;
            font-size: 1em;
        }
    }
}

.opportunity-title {
    z-index: 1;
    font-size: 3.9em;
    font-weight: normal;

    @include media-big-laptop {
        font-size: 3.2em;
    }

    @include media-laptop {
        font-size: 3.9em;
    }

    @include media-mobile {
        font-size: 2em;
    }

    @include media-mobilesmall {
        font-size: 1.6em;
    }

}

.opportunity-image {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    flex: 0 1 43%;

    &>img {
        height: 708px;
    }

    @include media-laptop {
        margin-left: 5%;
    }

    @include media-mobile {
        display: none;
    }
}

.opportunity-image-mobile {
    display: none;

    @include media-mobile {
        display: block;
    }
}

.opportunity-decoration {
    position: absolute;
    bottom: 25%;
    left: -5%;

    @include media-laptop {
        left: -7%;
        margin-left: 5%;
    }
}

.opportunity-decoration-circle {
    position: absolute;
    top: 5%;
    left: -30%;
    width: 87px;
    height: 87px;
    margin: 20px;
    background: linear-gradient($color-green-m, $color-green-xl) padding-box,
        linear-gradient(to right, $color-purple-m, $color-purple-s) border-box;
    border: 2px solid transparent;
    border-radius: 50em;

    @include media-big-laptop {
        display: none;
    }
}

.opportunity-decoration-shining {
    position: absolute;
    top: 25%;
    left: 13%;
    z-index: -1;
    width: 414px;
    height: 414px;
    background: linear-gradient(to bottom, $color-blue-s, $color-pink-m);
    border-radius: 50em;
    filter: blur(50px);
    opacity: 0.5;
    box-shadow: 0px 0px 38px 35px rgba(95, 56, 255, 0.5);
}

.opportunity-decoration-shining_in-corner {
    position: absolute;
    top: -20%;
    left: 5%;
    z-index: 0;
    opacity: 0.3;

    @include media-laptop {
        width: 237px;
        height: 237px;
        top: -25%;
        left: -20%;
    }

    @include media-mobile {
        top: -15%;
        left: -10%;
        filter: blur(86px);
    }
}

.opportunity-text {
    font-size: 1.5em;

    @include media-mobile {
        max-width: 80%;
    }

    @include media-mobilesmall {
        font-size: 1.1em;
    }
}

.main-education {
    min-height: 1188px;
    background-color: $color-light-xl;
    overflow: hidden;
}

.education-title {
    z-index: 1;
    font-size: 3em;

    @include media-laptop {
        padding-top: 20px;
        font-size: 2.1em;
    }

    @include media-mobile {
        font-size: 1.65em;
    }
}

.education-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1284px;
    min-height: 1093px;
    margin: 193px auto;
    background: linear-gradient(212.69deg, $color-dark-l, $color-dark-xl);
    border-radius: 20px;

    @include media-mobile {
        margin: 85px auto;
        text-align: center;
    }

    @include media-mobile {
        margin: 70px auto 0 auto;
    }
}

.education-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 650px;

    @include media-mobile {
        justify-content: center;
        padding-bottom: 70px;
    }
}

.education-card {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 330px;
    margin-bottom: 50px;
    font-size: 1.1em;
    background-color: $color-dark-l;
    border-radius: 20px;

    @include media-mobile {
        width: 260px;
        height: 290px;
        margin-bottom: 35px;
    }
}

.education-card__back {
    position: absolute;
    bottom: -20px;
    z-index: -1;
    width: 260px;
    height: 268px;
    margin: 0 auto;
    background-color: $color-dark-l;
    border-radius: 20px;
    opacity: 60%;

    @include media-mobile {
        bottom: -17px;
        width: 226px;
        height: 235px;
    }
}

.education-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 262px;

    @include media-mobile {
        justify-content: center;
    }
}

.education-card-img {
    width: 117px;
    height: 117px;
    margin: 15px auto;

    @include media-mobile {
        width: 83px;
        height: 83px;
    }
}

.education-card__image {
    max-width: 100%;
    height: auto;
}

.education-card__text {
    padding: 0 20px;
    line-height: 1.4em;
    text-align: center;

    @include media-mobile {
        font-size: 0.9em;
        line-height: 1.5em;
    }
}

.education-decoration-circle {
    position: absolute;
    top: -10%;
    right: 10%;
    width: 151px;
    height: 151px;
    margin: 20px;
    background: linear-gradient($color-purple-xs, $color-purple-l) padding-box,
        linear-gradient(to bottom, $color-purple-s, $color-purple-m) border-box;
    border: 2px solid transparent;
    border-radius: 50em;


    @include media-laptop {
        top: -5%;
        right: -5%;
        width: 87px;
        height: 87px;
    }

    @include media-mobile {
        top: -5%;
        right: -17%;
    }
}

.education-decoration-circle-blue {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 84px;
    height: 84px;
    margin: 20px;
    background: linear-gradient($color-blue-xs, $color-blue-m) padding-box,
        linear-gradient(to top, $color-blue-l, $color-blue-xxs) border-box;
    border: 2px solid transparent;
    border-radius: 50em;


    @include media-laptop {
        top: 15%;
        left: 5%;
        width: 22px;
        height: 22px;
    }


    @include media-mobile {
        top: 5%;
        left: 0;
    }
}

.education-decoration-circle-blur {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 131px;
    height: 131px;
    margin: 20px;
    background: linear-gradient($color-purple-s, $color-purple-m) padding-box,
        linear-gradient(to top, $color-purple-m, $color-purple-s) border-box;
    border: 2px solid transparent;
    border-radius: 50em;
    box-shadow: 0px 0px 10px 10px rgba(95, 56, 255, 0.5);
    filter: blur(5px);
    opacity: 0.9;

    @include media-laptop {
        right: 0;
        bottom: 0;
        width: 63px;
        height: 63px;
    }
}

.education-decoration-circle-shining {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 414px;
    height: 414px;
    background: linear-gradient(to bottom, $color-blue-s, $color-pink-m);
    border-radius: 50em;
    filter: blur(50px);
    box-shadow: 0px 0px 38px 35px rgba(95, 56, 255, 0.5);
    opacity: 0.3;

    @include media-laptop {
        bottom: 4%;
        left: 4%;
        width: 137px;
        height: 137px;
    }

    @include media-mobile {
        display: none;
    }
}

.education-decoration-circle-shining_top {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 0;
    width: 414px;
    height: 414px;
    background: linear-gradient(to bottom, $color-blue-s, $color-pink-m);
    border-radius: 50em;
    filter: blur(50px);
    box-shadow: 0px 0px 38px 35px rgba(95, 56, 255, 0.5);
    opacity: 0.3;

    @include media-laptop {
        top: -5%;
        right: 0;
        width: 137px;
        height: 137px;
    }

    @include media-mobile {
        display: block;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 09, 61, 0.8);
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: all 0.3s ease 0s;
}

.popup.active {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.popup__content {
    position: relative;
    padding: 42px 16px 41px 16px;
    max-width: 670px;
    max-height: 425px;
    background: linear-gradient(to bottom, $color-dark-xxl, $color-dark-xl);
    border-radius: 30px;

    @include media-mobile {
        width: 320px;
        height: 337px;
    }
}

.popup__title {
    margin: 0px 0px 1em 0px;
    font-size: 2.5em;

    @include media-mobile {
        font-size: 1.5em;
    }
}

.popup__text {
    font-size: 1.5em;
}

.popup__close {
    position: absolute;
    top: 34px;
    right: 34px;
}

.popup__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 472px;
    height: 279px;
    margin: 56px 128px 90px 70px;

    @include media-mobile {
        width: 288px;
        height: 254px;
        margin: 0;
    }
}

.popup__input {
    height: 52px;
    margin-top: 35px;
    margin-bottom: 18px;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;

    &::-webkit-input-placeholder {
        padding-left: 20px;
    }
}

.popup__button {
    height: 52px;
    font-size: 1.2em;
    text-decoration: none;
    color: rgba(36, 36, 36, 0.5);
    background: linear-gradient(30deg, $color-green-l, $color-green-s);
    border: $color-green-s;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.popup__button.active {
    height: 52px;
    font-size: 1.2em;
    text-decoration: none;
    color: $color-dark-m;
    background: linear-gradient(30deg, $color-green-l, $color-green-s);
    border: $color-green-s;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(203, 246, 46, 0.5);
    transition: all 0.4s ease-in-out;
}

.popup-tnks-content__text {
    margin: 56px 128px 90px 70px;
    font-size: 1.8em;
    color: $color-light-xl;

    @include media-mobile {
        margin: 40px 7px;
        font-size: 1.6em;
    }
}

.popup-tnks-content {
    position: relative;
    max-width: 670px;
    max-height: 170px;
    margin: 30vh auto;
    padding: 42px 16px 41px 16px;
    background: linear-gradient(to bottom, $color-dark-xxl, $color-dark-xl);
    border-radius: 30px;

    @include media-mobile {
        width: 320px;
        height: 337px;
    }
}

.popup-tnks {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 09, 61, 0.8);
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: all 0.3s ease 0s;
}

.popup-tnks.active {
    opacity: 1;
    visibility: visible;
}