.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    max-width: 1280px;
    margin: 0 auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.header-logo {
    z-index: 70;

    a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: $color-light-xl;
    }
}

.header-logo__subtitle {
    padding-left: 15px;
    font-size: 2.3em;

    @include media-tablet {
        padding-left: 5px;
        font-size: 1.3em;
    }
}

.header-logo__image {
    @include media-mobile {
        max-width: 34px;
        max-height: 34px;
    }

    @include media-mobilesmall {
        max-width: 27.27px;
        max-height: 27.27px;
    }
}

.nav-menu {
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-width: 38vw;
    font-size: 1.1em;

    @include media-laptop {
        min-width: 100%;
        font-size: 1.1em;
    }

    @include media-tablet {
        display: none;
    }
}

.nav-menu__item {
    padding-right: 15px;
    text-decoration: none;
    color: $color-light-xl;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 51px;
    padding-right: 0;
    font-size: 1em;
    border: 1px solid $color-light-xl;
    border-radius: 15px;

    &:hover,
    &:active {
        color: $color-green-xs;
        border: 1px solid $color-green-xs;
        cursor: pointer;
    }
}

.nav-hamburger {
    display: none;

    @include media-tablet {
        position: fixed;
        top: 32px;
        right: 16px;
        z-index: 70;
        display: inline-block;
        width: 50px;
        height: 20px;

        @include media-mobilesmall {
            width: 40px;
            height: 16px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 3px;
            background-color: $color-light-xl;
            border-radius: 5px;
            transition: all 0.3s ease 0s;
        }
    }
}

.nav-hamburger__line {
    display: none;
    transition: all 0.3s ease 0s;

    @include media-tablet {
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: $color-light-xl;
        border-radius: 5px;
    }
}

.nav-hamburger.active::before {
    top: 11px;
    transform: rotate(45deg);
}

.nav-hamburger__line.active {
    bottom: 10px;
    transform: rotate(-45deg);
}

.nav-mobile {
    position: fixed;
    top: -100%;
    right: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 45vh;
    color: $color-light-xl;
    background-color: $color-dark-s;
    border-bottom-left-radius: 30px;
    transition: all 0.5s ease-in-out;

    @include media-mobile {
        width: 95vw;
        height: 60vh;
    }

    @include media-mobilesmall {
        width: 304px;
        height: 392px;
    }
}

.nav-mobile.active {
    top: 0;
}

.nav-mobile-list-container {
    margin-left: 50px;

    @include media-mobile {
        margin-left: 0;
    }
}

.nav-menu-list__item {
    margin-bottom: 20px;
    cursor: pointer;
}

.nav-menu-list {
    margin-top: 115px;
    margin-left: -6%;
    list-style: none;
}

a {
    font-size: 1.3em;
    color: #cecece;
    text-decoration: none;
}

.nav-button_mobile {
    margin-top: 90px;
}


.nav-menu-list__item_link {
    font-size: 1.5em;
}