.header {
    max-width: 1280px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.header__logo {

    z-index: 70;

    a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: $color-light-xl;
    }
}

.header__logo_subtitle {
    font-size: 2.3em;
    padding-left: 15px;

    @include media-tablet {
        font-size: 1.3em;
        padding-left: 5px;
        }
}

.header__logo_image {
    @include media-mobile {
        max-width: 34px;
        max-height: 34px;
        }

        @include media-mobilesmall {
            max-width: 27.27px;
            max-height: 27.27px;
        }
}
.nav__menu_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-width: 38vw;
    font-size: 1.1em;
    z-index: 1;

    @include media-laptop {
        min-width: 100%;
        font-size: 1.1em;
    }

    @include media-tablet {
        display: none;
    }
}

.nav__menu {
    color: $color-light-xl;
    text-decoration: none;
    padding-right: 15px;
}

.nav__menu_button {
    border: 1px solid $color-light-xl;
    width: 175px;
    height: 51px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding-right: 0;

    &:hover,
    &:active {
        border: 1px solid $color-green-xs;
        color: $color-green-xs;
        cursor: pointer;
    }
}

.nav__hamburger {

    display: none;

    @include media-tablet {
    display: inline-block;
    position: fixed;
    top: 32px;
    right: 16px;
    width: 50px;
    height: 20px;
    z-index: 70;

    @include media-mobilesmall {
        width: 40px;
        height: 16px;
    }

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: $color-light-xl;
        border-radius: 5px;
        height: 3px;
        width: 100%;
        top: 0;
        left: 0;
        transition: all 0.3s ease 0s;
    }
}
}

.nav__hamburger_line {
    display: none;
    transition: all 0.3s ease 0s;
    
    @include media-tablet {
    display: inline-block;
    background-color: $color-light-xl;
    border-radius: 5px;
    height: 3px;
    width: 100%;
    }
}

.nav__hamburger.active::before {
transform:rotate(45deg);
top:11px;
}

.nav__hamburger_line.active {
    transform:rotate(-45deg);
    bottom:10px;
}
.nav__menu-mobile {
    height: 45vh;
    width: 95vw;
    z-index: 50;
    display: flex;
    position: fixed;
    top: -100%;
    right: 0;
    flex-direction: column;
    background-color: #293344;
    color: $color-light-xl;
    transition: all 0.5s ease-in-out;
    border-bottom-left-radius: 30px;


    @include media-mobile {
    height: 60vh;
    width: 95vw;
    }

    @include media-mobilesmall {
    height: 392px;
    width: 304px;
    }
}

.nav__menu-mobile.active {
    top: 0;
}

.nav__menu-mobile_list-container {
    margin-left: 50px;

    @include media-mobile {
        margin-left: 0;
        }
}

.nav__menu-mobile_item {
    cursor: pointer;
    margin-bottom: 20px;
}

.nav__menu-mobile_list{
    list-style: none;
    margin-left: -6%;
    margin-top: 115px;
}

a {
    text-decoration: none; 
    color: #cecece;
    font-size: 1.3em;
}

.nav__menu-mobile_button {
    margin-top: 90px;
}


.nav__menu-mobile_item-link {
    font-size: 1.5em;
}