.header {
    max-width: 1280px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {

    z-index: 1;

    a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: $color-light-xl;
    }
}

.header__logo_subtitle {
    font-size: 2.3em;
    padding-left: 15px;

    @include media-mobile {
        font-size: 2em;
        padding-left: 5px;
        }

        @include media-mobilesmall {
            font-size: 1.5em;
        }
}

.header__logo_image {
    @include media-mobile {
        max-width: 34px;
        max-height: 34px;
        }

        @include media-mobilesmall {
            max-width: 27.27px;
            max-height: 27.27px;
        }
}
.nav__menu_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-width: 60%;
    font-size: 1.3em;
    z-index: 1;

    @include media-laptop {
        min-width: 73%;
        font-size: 1.1em;
    }

    @include media-tablet {
        display: none;
    }
}

.nav__menu {
    color: $color-light-xl;
    text-decoration: none;
}

.nav__menu_button {
    border: 1px solid $color-light-xl;
    width: 175px;
    height: 51px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 12px;

    &:hover,
    &:active {
        border: 1px solid $color-green-xs;
        color: $color-green-xs;
        cursor: pointer;
    }
}

.nav__hamburger {

    display: none;

    @include media-tablet {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 20px;
    z-index: 1;

    @include media-mobilesmall {
        width: 40px;
        height: 16px;
    }

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: $color-light-xl;
        border-radius: 5px;
        height: 3px;
        width: 100%;
        top: 0;
        left: 0;
    }
}
}

.nav__hamburger_line {
    display: none;
    
    @include media-tablet {
    display: inline-block;
    background-color: $color-light-xl;
    border-radius: 5px;
    height: 3px;
    width: 100%;
    }
}