$color-light-xl: #ffffff;

$color-dark-xl: #1D2532;
$color-dark-l: #333E51;
$color-dark-m: #242424;

$color-green-xl: #00D448;
$color-green-l: #1DD844;
$color-green-m: #90f92c;
$color-green-s: #cbf62e;
$color-green-xs: #C3F33B;

$color-purple-xs: #dea8ff;
$color-purple-s: #e2c1ff;
$color-purple-m: #853df2;
$color-purple-l: #7a2bf6;

$color-pink-m: #ff0ede;

$color-blue-l: #0777f1;
$color-blue-m: #045dfa;
$color-blue-s: #5f38ff;
$color-blue-xs: #06f6c7;
$color-blue-xxs: #5effdf;

$content-width: 1360px;
$laptop-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;