$color-light-xl: #ffffff;

$color-dark-xl: #1D2532;
$color-dark-l: #333E51;

$color-green-xl: #00D448;
$color-green-l: #1DD844;
$color-green-m: #90f92c;
$color-green-s: #cbf62e;

$color-purple-xs: #dea8ff;
$color-purple-s: #e2c1ff;
$color-purple-m: #853df2;
$color-puprle-l: #7a2bf6;

$color-pink-m: #ff0ede;

$color-blue-xs: #06f6c7;
$color-blue-s: #5f38ff;
$color-blue-m: #045dfa;



